@import '../../index.sass'
.header 
    @extend %container
    @extend %padding
    background-color: $colorBlue
    color: $colorWhite

    display: flex
    justify-content: space-between
    box-sizing: border-box
    
