@import '../../../index.sass'
    
.menu__item 
	padding-top: 20px
	padding-bottom: 20px
	padding-left: 30px
	list-style: none
	
	&-link
		color: $colorBlack
		cursor: pointer
		text-decoration: none
		outline: none

	div
		display: flex
		align-items: center
		border-radius: 4px
		position: relative

		

		&:hover
			background-color: darken(#fff, 4%)
			box-shadow: 0 0 10px 10px darken(#fff, 4%)
	
	svg
		margin-right: 17px
		height: 32px
	&-drop 
		width: 20px
		height: 20px
		position: relative
		left: -17px
		margin-left: auto
		padding: 0
		border: 0
		background-color: transparent

		&:before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			border-left: 6px solid transparent
			border-right: 6px solid transparent
			border-top: 12px solid #a8a8a8
			transform: translate(-50%, -50%) rotate(0)
	
		&.active:before 
			transform: translate(-50%, -50%) rotate(180deg)
		
@media screen and (max-width: 768px) 
	.menu__item 
		p
			position: absolute
			left: 60px
			opacity: 0
			transition: opacity .15s ease-in-out

			.menu.active &
				opacity: 1
				transition: opacity .15s ease-in-out .15s